body {
  /* font-family: 'Do Hyeon', sans-serif; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 10px;
}

p {
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
  border-bottom: 1px solid black;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bolder;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
  margin-left: 4px;
  border-radius: 8px;
}

.navbar__menu li:hover {
  color: white;
  padding: 8px 12px;
  background-color: black;
  border-radius: 8px;
  transition: 0.3s;
}

.content {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__body {
  max-width: 1000px;
  width: 80%;
  padding-bottom: 300px;
}

.section1 {
  margin: 250px 0;
}

.title {
  text-align: center;
  line-height: 150%;
  padding-bottom: 30px;
}

.title__hashtag {
  font-size: 20px;
  text-align: center;
}

.member {
  border-bottom: 1px solid black;
  padding: 100px 0;
}

.member__columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.member__img {
  width: 250px;
  padding-right: 50px;
}

.member__description {
  padding-left: 50px;
}

.member__hashtag {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 200%;
}

.hashtag {
  color: white;
  border-style: none;
  box-sizing: border-box;
  background-color: black;
  padding: 2px 10px;
  border-radius: 18px;
  margin: 0 5px;
  white-space: nowrap;
}

.member__links {
  text-align: center;
}

.member__details {
  font-size: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 18px;
  box-sizing: border-box;
  padding: 2px 10px;
  margin: 0 5px;
}

.member__details:hover {
  background-color: #f58a41;
  border: 1px solid #f58a41;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 8px 24px;
  }

  .navbar__logo {
    margin-bottom: 4px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu a {
    width: 100%;
  }

  .navbar__menu li {
    text-align: center;
    margin: 4px 0;
  }

  .content__body {
    width: 90%;
  }

  .title__hashtag {
    font-size: 16px;
    text-align: center;
  }

  .member__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px 0;
  }

  .member__img {
    width: 200px;
    padding: 20px 0;
  }

  .member__description {
    padding: 20px 0;
  }

  .member__hashtag {
    text-align: center;
    font-size: 14px;
  }

  .hashtag {
    margin: 0;
  }

  .member__details,
  .member__github {
    font-size: 14px;
  }
}
