:root {
  /* color*/
  --white-color: #ffffff;
  --black-color: #000000;
  --orange-color: #f58a41;
  --background-color: #e2e2e2;
  --dynamic-g-color: lightgreen;

  /* size*/
  --padding-size: 8px 12px;
  --basic-size: 10px;
  --padding-b-size: 3px solid black;

  /* font */
  --font-weight: 700;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

/* 1 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 20px 15px;
  border-bottom: var(--padding-b-size);
}

.navbar__logo {
  font-size: 30px;
  font-weight: bolder;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: var(--padding-size);
  margin-left: 4px;
  border-radius: 8px;
}

.navbar__menu li:hover {
  color: var(--white-color);
  padding: var(--padding-size);
  background-color: var(--black-color);
  border-radius: 8px;
  transition: 0.3s;
}

/* 방명록 CSS */
.topBanner {
  width: 100%;
  height: 300px;

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://media.istockphoto.com/vectors/crowd-people-cheering-silhouettes-vector-id963916836?s=612x612');
  background-position: center 40%;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputGuestBook {
  width: 95%;
  max-width: 500px;
  margin: 20px auto 20px auto;

  box-shadow: 0 0 3px 0 black;
  padding: 20px;
}

.inputGuestBook > button {
  margin-top: 15px;
  margin-left: 16rem;
}

.guestBookCards {
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.guestBookCards > .card {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 8px 24px;
  }

  .navbar__logo {
    margin-bottom: 4px;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu a {
    width: 100%;
  }

  .navbar__menu li {
    text-align: center;
    margin: 4px 0;
  }
}
