<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>돈 많은 백수들</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/guestbook.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a4c06b86b3.js"
      crossorigin="anonymous"
    ></script>

    <script defer src="../js/toggleButton.js"></script>

    <script>
      $(document).ready(function () {
        show_comment();
      });

      function save_comment() {
        let name = $("#name").val();
        let comment = $("#comment").val();

        $.ajax({
          type: "POST",
          url: "/homework",
          data: { name_give: name, comment_give: comment },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function show_comment() {
        $("#comment_list").empty();
        $.ajax({
          type: "GET",
          url: "/homework",
          data: {},
          success: function (response) {
            let rows = response["comments"];
            for (let i = 0; i < rows.length; i++) {
              let name = rows[i]["name"];
              let comment = rows[i]["comment"];

              let temp_html = `<div class="card">
                                        <div class = "card-body">
                                        <blackquote class ="blockquote mb-0">
                                            <p>${comment}</p>
                                            <footer class="blockquote-footer">${name}</footer>
                                            </blackquote>
                                        </div>
                                    </div>`;

              $("#comment-list").append(temp_html);
            }
          },
        });
      }
    </script>

    <!-- 방명록 종료 -->
  </head>
  <body>
    <!-- 1.Navbar Section-->
    <nav class="navbar">
      <div class="nav2">
        <div class="navbar__logo"><a href="./index.html">돈 많 백</a></div>
        <button id="btn">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="nav3">
        <ul class="navbar__menu">
          <a href="./index.html">
            <li>돈많백?</li>
          </a>
          <a href="./tmi.html">
            <li>팀원TMI</li>
          </a>
          <a href="./goal.html">
            <li>목표</li>
          </a>
          <a href="./guestbook.html">
            <li>방명록</li>
          </a>
        </ul>
      </div>
    </nav>

    <!-- 방명록 -->
    <!-- 1. 패키지 설치  -->
    <!-- flask, pymongo, dnspython -->

    <div class="topBanner">
      <img class="topBanner-img" src="../img/돈많백팀원들2.png" alt="" />
      <div class="message-guide-container">
        <div class="title">메세지 가이드</div>
      </div>
    </div>

    <div class="guide-container">
      <div class="first-box">
        <div class="first-num">➊</div>
        <div class="first-txt">응원 === default</div>
      </div>

      <div class="second-box">
        <div class="second-num">➋</div>
        <div class="second-txt">피드백 Accept</div>
      </div>

      <div class="third-box">
        <div class="third-num">➌</div>
        <div class="third-txt">악플 Not defined</div>
      </div>

      <div class="fourth-box">
        <div class="fourth-num">➍</div>
        <div class="fourth-txt">무플 lgnore</div>
      </div>
    </div>

    <div class="waring">
      <div class="waring-icon">🆇</div>
      <div class="waring-txt">PLEASE FOLLOW DIRECTIONS!</div>
    </div>
    <div></div>
    <div class="inputGuestBook">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="url" />
        <label for="floatingInput">이름을 입력해주세요.</label>
      </div>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="comment"
          style="height: 6.25rem"
        ></textarea>
        <label for="floatingTextarea2">메시지를 입력해주세요.</label>
      </div>
      <button onclick="save_comment()" type="button" class="btn btn-dark f">
        댓글 남기기
      </button>
    </div>
    <div class="guestBookCards" id="comment-list"></div>
  </body>
</html>
